.blog_container {
    padding-bottom: 2rem;
}
.blog_list {
    background-color: white;
    border-radius: 5px;
    margin-top: 2rem;
}
.blog_details {
    padding: 2rem;
}
@media (min-width: 1114px) {
    .blog_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
}