.careers {
    background-color: whitesmoke;
    text-align: center;
}
.careers__container {
    padding: 1rem;
}
.careers__info,
.careers__list__details {
    margin: 0;
    font-size: 18px;
    padding: 1rem;
}
.careers__list {
    margin-bottom: 30px;
}
@media (min-width: 1114px) {
    .careers {
        text-align: left;
    }
    .careers__header {
        width: 783px;
        padding-bottom: 30px;
    }
    .careers__info {
        font-size: 24px;
        padding-left: 0;
    }
    .careers__container {
        max-width: 1114px;
        margin: 0 auto;
    }
    .careers__list__container {
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    }
    .careers__list__details{
        padding: 0;
    }
}