html {
    font-family: "DM Sans";
    color: rgb(95, 95, 148);
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: ghostwhite;
}
.page__container {
    text-align: center;
    padding: 1rem;
}
h2 {
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
}
h3 {
    margin: 0;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}
h4 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

img {
    width: 100%;
}
.icon {
    width: 50px;
}
.request {
    background: linear-gradient(to right, limegreen, rgb(17, 192, 192));
    border: none;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

@media (min-width: 1114px) {
    h2 {
    width: 400px;
    font-size: 50px;
    }
    .icon {
        width: 64px;
    }
}