footer {
    background-color: midnightblue;
    padding: 1rem;
    text-align: center;
}
.contact-container {
    padding: 3rem;
}
.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact .menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}
a {
    font-size: 30px;
    color: white;
}