footer {
    background-color: midnightblue;
    padding: 1rem;
    text-align: center;
}
.contact-container {
    padding: 3rem;
}
.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.media-icon {
    width: 40px;
}