.masthead {
    background-image: url("../img/bg-intro-mobile.svg"),
                       url("../img/image-mockups.png");
    background-repeat: no-repeat;
    background-size: cover cover;
    background-blend-mode: overlay;
}