.page__header {
    padding: 1rem;
    background-color: white;
    }
    .page__header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .page__header__container button {
        display: none;
    }
    @media (min-width: 1114px) {
        .page__header__container .request {
            display: block;
            cursor: pointer;
        }
    }