.masthead {
    background-image: url("../img/bg-intro-mobile.svg"),
                       url("../img/image-mockups.png");
    background-repeat: no-repeat;
    background-size: 454px;
    background-position: 50% 0%, 50% -248%;
    background-blend-mode: overlay;
    padding-top: 454px;
    text-align: center;
}
@media (min-width: 1114px) {
    .masthead {
        text-align: left;
        background-size: 800px;
        background-position: 525px 5%, 654px 211%;
        padding-bottom: 200px;
        padding-left: 100px;
     }
    .masthead_container {
        width: 350px;
    }
}