// .masthead {
//     background-image: url("../img/bg-intro-mobile.svg"),
//                        url("../img/image-mockups.png");
//     background-repeat: no-repeat;
//     background-size: 454px;
//     background-position: 50% 0%, 50% -248%;
//     background-blend-mode: overlay;
//     padding-top: 454px;
//     text-align: center;
// }
@media (min-width: 1114px) {
    .masthead {
        background-color: ghostwhite;
        padding: 1rem;
        background-image: 
                       url("../img/image-mockups.png"),
                       url("../img/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 684px 255%, 515px 186%;
        text-align: left;
        padding-bottom: 500px;
     }
    .masthead_container {
        width: 432px;
        padding-left: 100px;
    }
    .masthead_container .info {
    margin: 0;
    font-size: 20px;
    padding-bottom: 2rem;
    }
}