html {
  font-family: "DM Sans";
  color: #5f5f94; }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: ghostwhite; }

.page__container {
  text-align: center;
  padding: 1rem; }

h2 {
  font-size: 40px;
  margin: 0;
  padding-top: 30px; }

h3 {
  margin: 0;
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 30px; }

h4 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px; }

img {
  width: 100%; }

.icon {
  width: 50px; }

.request {
  background: linear-gradient(to right, limegreen, #11c0c0);
  border: none;
  padding: 1rem;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  cursor: pointer; }

@media (min-width: 1114px) {
  h2 {
    width: 400px;
    font-size: 50px; }
  .icon {
    width: 64px; } }

.checkbox[type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

.checkbox[type="checkbox"]:checked ~ main {
  z-index: 1;
  opacity: 0.5; }

.checkbox[type="checkbox"]:checked ~ .menu {
  transform: translateX(0); }

.checkbox {
  display: none; }

.page__header__icon__menu {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../img/menu-icon.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  cursor: pointer; }

nav .icon_menu {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../img/close-menu-icon.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px; }

.menu {
  border-radius: 10px;
  margin: 1rem;
  background-color: ghostwhite;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 420px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateY(-110%);
  transition: transform 0.3s;
  margin: 0; }

.menu_list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu_list li {
  padding: 1rem; }

.a11y,
[type="checkbox"] {
  opacity: 0; }

@media (min-width: 1114px) {
  .menu {
    padding: 0;
    background-color: transparent;
    top: -30px;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: 0; }
  /* Switch from column to row flex */
  .menu_list {
    flex-direction: row;
    margin-right: 24rem;
    align-items: center; }
  .menu li:nth-of-type(1),
  .menu li:nth-of-type(3) {
    padding: 1rem; }
  .icon_menu {
    display: none; }
  body > nav a {
    color: black; }
  .page__header__icon__menu,
  .page__header .icon_menu,
  nav .icon_menu {
    display: none; } }

.page__header {
  padding: 1rem;
  background-color: white; }

.page__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.page__header__container button {
  display: none; }

@media (min-width: 1114px) {
  .page__header__container .request {
    display: block;
    cursor: pointer; } }

.masthead__header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-block-start: 400px;
  background-image: url("../img/image-mockups.png"), url("../img/bg-intro-desktop.svg");
  background-position: 50% calc(100% + -364px), 25% calc(100% + -330px);
  background-size: contain, cover;
  background-repeat: no-repeat; }

.masthead__header__container {
  padding: 1rem; }

.masthead__header__info {
  margin: 0;
  padding: 1rem;
  font-size: 18px; }

.masthead__header__button {
  margin-top: 30px; }

@media (min-width: 1114px) {
  .masthead__header {
    background-size: 665px, 900px;
    background-repeat: no-repeat;
    background-position: 800px -106px, 646px -171px;
    margin: auto;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 350px;
    background-blend-mode: inherit; }
  .masthead__header__container {
    text-align: left;
    max-width: 1114px;
    margin: 0 auto; }
  .masthead__header__info {
    padding-left: 0;
    width: 400px; } }

.careers {
  background-color: whitesmoke;
  text-align: center; }

.careers__container {
  padding: 1rem; }

.careers__info,
.careers__list__details {
  margin: 0;
  font-size: 18px;
  padding: 1rem; }

.careers__list {
  margin-bottom: 30px; }

@media (min-width: 1114px) {
  .careers {
    text-align: left; }
  .careers__header {
    width: 783px;
    padding-bottom: 30px; }
  .careers__info {
    font-size: 24px;
    padding-left: 0; }
  .careers__container {
    max-width: 1114px;
    margin: 0 auto; }
  .careers__list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px; }
  .careers__list__details {
    padding: 0; } }

.blog {
  background-color: ghostwhite; }

.blog__container {
  padding: 1rem; }

.blog__list__photo {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.blog__list__container {
  display: flex;
  flex-direction: column; }

.blog__list__item {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px; }

.blog__list__details {
  padding: 35px; }

.blog__list__description {
  margin: 0;
  font-size: 16px; }

@media (min-width: 1114px) {
  .blog {
    padding-top: 40px;
    padding-bottom: 40px; }
  .blog__container {
    max-width: 1114px;
    margin: 0 auto; }
  .blog__list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px; } }

.contacts {
  background-color: midnightblue; }

.contacts ul {
  margin: 0;
  padding-left: 0; }

.contacts__container {
  padding: 1rem;
  text-align: center; }

.contacts__social__media__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.contacts__website {
  display: flex;
  flex-direction: column; }

.list__item {
  padding: 10px; }

.contacts__website a {
  color: white; }

.contacts__request {
  margin-top: 30px; }

.copyright {
  color: white;
  font-size: 18px; }

@media (min-width: 1114px) {
  .contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1114px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px; }
  .contacts__website {
    display: contents; }
  .contacts__request {
    margin-top: 40px; }
  .contacts__social__media__list {
    padding-top: 60px; }
  .copyright {
    margin: 0;
    padding-top: 50px; } }
